<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Resultater</title>
</head>
<body>
    <div class="content" id="hele">
        <div class="spørreskjema domain" id="måleverktøy">
            <div class="domain" id="">
                <h1>Resultater</h1>
                <p>Takk for at du fullførte GAD-7 skjemaet. Husk at dette skjemaet kun kan gi en indikator på symptomer og ingen diagnoser. Snakk med din fastlege eller helsepersonell hvis du er i tvil.
                    <br> Her er dine resultater:</p>

                
                    <div class="skåre content">
                        <p>Skåre: {{ sum_skåre }}</p>
                    </div>
                    <div>
                        <p>Betydning: {{ Kategori }}</p>
                        <p>Kilde for grenseverdier Spitzer et al. (2006)</p>

                    </div>
                   
                   <div>
                    <p>Hvor vanskelig er disse symptomene for deg i din hverdag: {{ Livsbelastning }}</p></div>
                    <a href="https://nhi.no/psykisk-helse/psykisk-egenpleie/selvhjelpskurs-for-psykiske-lidelser">Hvis du ønsker å lære mer, eller arbeide med egen angst er ikke dette farlig å gjøre på egen hånd. Sjekk ut noen av kursene fra NHI</a>
                   
                   <h1>Visualisering</h1>
                   <p>:</p>
                   
                   
                   <div id="bar_chart">
                       {{ bar_chart | safe }}
                   </div>
               


                <a href="{{ url_for('index') }}">Tilbake til skjemaet</a>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>