<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Resultater</title>
</head>
<body>
    <div class="content" id="hele">
        <div class="spørreskjema domain" id="måleverktøy">
            <div class="domain" id="">
                <h1>Resultater</h1>
                <p>Takk for at du fullførte GAD-7 skjemaet. Her er dine resultater:</p>

                
                    <p>Poeng: {{ sum_skåre }}</p>
                   <p>Resultat: {{ Kategori }}</p>
                   <p>Hvor vanskelig er disse symptomene for deg i din hverdag: {{ Livsbelastning }}</p>
                   <h1>Visualisering</h1>
                   <p>Hvor vanskelig er disse symptomene for deg i din hverdag:</p>
                   
                   <div id="anxiety_chart">
                       {{ anxiety_chart | safe }}
                   </div>
                   
                   <div id="bar_chart">
                       {{ bar_chart | safe }}
                   </div>
                <p>Kilde for grenseverdier Spitzer et al. (2006)</p>


                <a href="{{ url_for('index') }}">Tilbake til skjemaet</a>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>